body {
  width: 100%;
  background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0.1)
      )
      50%,
    url("../img/bg.jpeg");
  backdrop-filter: blur(10px);
  background-position: center;
  background-size: cover;
  height: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 480px) {
  * {
    font-size: 12px;
  }
  body {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 2%;
    overflow-x: hidden;
    -mox-overflow-x: hidden;
    -webkit-overflow-x: hidden;
  }
  .cri,
  .title,
  .psf,
  .p1 {
    padding-left: 5%;
  }

  img {
    width: 3rem;
    height: 3rem;
  }

  .nba-img {
    width: 3rem;
    height: 2rem;
  }

  .clg-name {
    font-size: .5rem;
  }

  .header {
    width: max-content;
  }

  .circles {
    padding: 0;
  }
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 30s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 8s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 6s;
  animation-duration: 11s;
}
.circles li:nth-child(11) {
  left: 30%;
  width: 80px;
  height: 80px;
  animation-delay: 17s;
}

.circles li:nth-child(12) {
  left: 20%;
  width: 20px;
  height: 20px;
  animation-delay: 14s;
  animation-duration: 12s;
}

.circles li:nth-child(13) {
  left: 60%;
  width: 20px;
  height: 20px;
  animation-delay: 12s;
}

.circles li:nth-child(14) {
  left: 50%;
  width: 60px;
  height: 60px;
  animation-delay: 18s;
  animation-duration: 18s;
}

.circles li:nth-child(15) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1.5;
    border-radius: 0;
  }
  70% {
    transform: translateY(-2000px) rotate(360deg);
    opacity: 0.7;
    border-radius: 50%;
  }

  100% {
    transform: translateY(-3000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/*.saeclogo {
  backdrop-filter: blur(50px)
  width: 100%;
  max-height: auto;
  background-size: cover;
  background-color: #222;
    top: 0px;     */

.dept {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 0%;
}
.cri {
  padding-left: 20%;
}h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  color: white;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 20%;
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title1 {
  color: white;
  text-align: center;
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2 rem;
}

.psf {
  padding-left: 20%;
  color: white;
  margin-top: 1 px;
  margin-bottom: 1 px;
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p1 {
  padding-left: 20%;
  color: white;
}


a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


a:visited {
  color: #00fff7;
  background-color: transparent;
  text-decoration: none;
}

 a{
  background-image: linear-gradient(to right, #ffdd00, #ffdd00 50%, #00fff7 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}
.color1 > a:visited {
  color: #45ff1c;
  background-color: transparent;
  text-decoration: none;
}

.color1 > a {
  background-image: linear-gradient(to right, #ffdd00, #ffdd00 50%, #45ff1c 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}


.color2 > a:visited {
    #00fff7 50%
    color: #00fff7;
  background-color: transparent;
  text-decoration: none;
}

.color2 > a {
  background-image: linear-gradient(
    to right,
    #ffdd00,
    #ffdd00 50%,
    #00fff7 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

 a:not(.change-color):before {
  text-decoration: none;
  content: "";
  background: #ffdd00;
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
}

a:not(.change-color):hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}

.discript {
  backdrop-filter: blur(70%);
}
.dis1 {
  color: white;
}
.dlogo {
  padding-left: 10%;
  backdrop-filter: blur(10px);
}

.header1 {
  display: flex;
  align-self: flex-start;
  top: 0;
}
.header {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  /* align-items: center; */
}

.clg-name {
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 6px;
  margin: 0;
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  /* margin-top: 1rem; */
}
.sub-head {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-top: 1%;
}

img {
  width: 8rem;
  height: 8rem;
}
.nba-img {
  width: 9rem;
  height: 8rem;
}
.psf-align {
  display: flex;
}
.psf-align > h3 {
  margin: 3;
}

.psf-align1 {
  display: flex;
  justify-content: space;
}

.psf-align1 > h3 {
  margin-bottom: 3;
}

.additional {
  color: #fffdfd;
  margin-left: 20%;
}
.additional > table {
  width: 40%;
}
.additional > tr {
  text-align: left;
}

.additional1 {
  color: #fffdfd;
  margin-left: 20%;
}
.additional1 > table {
  width: 30%;
}
.additional1 > tr {
  text-align: left;
}

.additional2 {
  color: #fffdfd;
  margin-left: 20%;
}
.additional2 > table {
  width: 32%;
}
.additional2 > tr {
  text-align: left;
}

.additional3 {
  color: #fffdfd;
  margin-left: 20%;
}
.additional3 > table {
  width: 20%;
}
.additional3 > tr {
  text-align: left;
}

th {
  text-align: left;
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tab {
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lb {
  padding-left: 20%;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;

}

/* .special:hover{
  cursor: pointer;
} */

.special-hidden{
  display: none;
  transition: all 500ms ease-in-out;
}

.special-hidden a{
  margin-left: 3%;
}
.show{
  display: block;
}

.change-color{
  background-image: linear-gradient(to right, #ffdd00, #ffdd00 50%) !important;

}


.special-hidden1{
  display: none;
  transition: all 500ms ease-in-out;
}

.special-hidden1 a{
  margin-left: 3%;
}


.show1{
  display: block;
}

.change-color1{
  background-image: linear-gradient(to right, #ffdd00, #ffdd00 50%) !important;

}

.special-hidden2{
  display: none;
  transition: all 500ms ease-in-out;
}

.special-hidden2 a{
  margin-left: 3%;
}


.show2{
  display: block;
}

.change-color2{
  background-image: linear-gradient(to right, #ffdd00, #ffdd00 50%) !important;

}

.special-hidden3{
  display: none;
  transition: all 500ms ease-in-out;
}

.special-hidden3 a{
  margin-left: 3%;
}


.show3{
  display: block;
}

.change-color3{
  background-image: linear-gradient(to right, #ffdd00, #ffdd00 50%) !important;

}
.special-hidden4{
  display: none;
  transition: all 500ms ease-in-out;
}

.special-hidden4 a{
  margin-left: 3%;
}


.show4{
  display: block;
}

.change-color4{
  background-image: linear-gradient(to right, #ffdd00, #ffdd00 50%) !important;

}

.special-hidden5{
  display: none;
  transition: all 500ms ease-in-out;
}

.special-hidden5 a{
  margin-left: 3%;
}


.show5{
  display: block;
}

.change-color5{
  background-image: linear-gradient(to right, #ffdd00, #ffdd00 50%) !important;

}


.special-hidden6{
  display: none;
  transition: all 500ms ease-in-out;
}

.special-hidden6 a{
  margin-left: 3%;
}


.show6{
  display: block;
}

.change-color6{
  background-image: linear-gradient(to right, #ffdd00, #ffdd00 50%) !important;

}


/* #special:hover .hidden{
  display: block !important;
} */
